@import "utils";

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  background-color: #ffffff;
  height: 100%;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
